.skills-list
	display: flex
	flex-flow: row wrap
	justify-content: space-between
	align-items: center
	list-style-type: none
	padding-left: 0
	li
		flex-grow: 1
		text-align: center
		background: rgba(128, 128, 128, 0.1)
		padding: 10px
		margin: 10px 0
		margin-right: 10px
		cursor: pointer
		transition: all 0.5s
		border-bottom: 3px solid transparent
		&:last-child
			margin-right: 0
		&:hover
			background: #4d8eb4 
			color: white
			border-bottom: 3px solid black
			transform: scale(1.1)